

<h3>Message d'un internaute </h3>

<h4>{{ name }} : {{ email }} </h4>

<p>
    {{ message }}.
</p>
<img style="text-align: center;" src="{{ logo }}">


<p>
    Sincerely,
    The Digitrav Support Team
</p>
<h4 >

    {{ date('now')|date("Y") }} Digitrav Inc All rights reserved<br />
</h4>

{# Makes an absolute URL to the /images/logo.png file #}


