

<h3>Nouveau mot de passe généré!</h3>

Hello, {{ name }}

<p>
    Vous avez récemment demandé un nouveau mot de passe,<br/>
    le nouveau mot de passe généré est : <span>{{ password }}</span> <br/>
    Si cette action n'a pas été demandée par vous, pas de souci, vous pouvez vous connecter à <a href="{{ url }}">restaurant.lepoint.cm</a> avec votre mot de passe actuel. <br/>
</p>
<img style="width: 140px;height: 55px" src="{{ logo }}">
<p>
    Cordialement,<br/>
    L'équipe d'assistance
</p>
<h4 >

    © {{ date('now')|date("Y") }} Lepoint.cm Inc Tous droits réservés<br />
</h4>





{# Makes an absolute URL to the /images/logo.png file #}


